{% extends "SelectByID.html" %}
{% block titleValue %}Select Car by ID{% endblock %}

{% block labelID %}carIDLabel{% endblock %}

{% block inputID %}car_id{% endblock %}

{% block messageInputValue %}Insert car ID here{% endblock %}

{% block submitButtonID %}send_car_id{% endblock %}

{% block helpContent %}If the result row is filled with "NULL", the car is sold or the ID is invalid.{% endblock %}

{% block tableHead %}

    <th scope="col">Manufacturer</th>
    <th scope="col">Model</th>
    <th scope="col">Trim</th>
    <th scope="col">Color</th>
    <th scope="col">Year</th>
    <th scope="col">Condition</th>
    <th scope="col">Mileage</th>
    <th scope="col">Weight</th>
    <th scope="col">Price (CN $)</th>

{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='CarByID.js') }}"></script>
{% endblock %}