{% extends "SelectByName.html" %}
{% block titleValue %}Select Car by Maker{% endblock %}

{% block labelID %}carMakerLabel{% endblock %}

{% block inputID %}car_maker{% endblock %}

{% block messageInputValue %}Insert car maker here{% endblock %}

{% block submitButtonID %}send_car_maker{% endblock %}

{% block helpContent %}If the result row is filled with "NULL", no cars match or the car maker is invalid.{% endblock %}

{% block tableHead %}

    <th scope="col">Maker</th>
    <th scope="col">Model</th>
    <th scope="col">Trim</th>
    <th scope="col">Color</th>
    <th scope="col">Year</th>
    <th scope="col">Condition</th>
    <th scope="col">Mileage</th>
    <th scope="col">Weight</th>
    <th scope="col">Price (CN $)</th>

{% endblock %}


{% block script %}
    <script  src="{{ url_for('static', filename='CarsByMaker.js') }}"></script>


{% endblock %}