{% extends "MenuBar.html" %}
{% block maincontent %}
    <h1>{% block titleValue %}{% endblock %}</h1>

    <br>
        <div class="form-group">
            <form    id="{% block formID %}{% endblock %}" method="post">
                {% block form %}{% endblock %}
                <input type="submit" class="btn btn-primary" id="{% block submitButtonID %}{% endblock %}" value="send">
            </form>
        </div>


    {% block scriptBlock %}{% endblock %}




{% endblock %}