{% extends "Create.html" %}

{% block titleValue %}Create a bill{% endblock %}

{% block formID %}bill_form{% endblock %}

{% block form %}

        <label for="buyerName">Buyer name:</label>
        <input type="text" class="form-text" name="buyerName" id="buyerName" maxlength="50">
        <br>

        <label for="carId">Car ID:</label>
        <input type="number" class="form-text" name="carId" id="carId">
        <br>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

{% endblock %}

{% block submitButtonID %}send_form_button {% endblock %}

{% block scriptBlock %}

    <script src="{{url_for('static', filename='js/CreateBill.js') }}">



    </script>
{% endblock %}


