{% extends "MenuBar.html" %}
{% block maincontent %}
    <h1>{% block titleValue %}{% endblock %}</h1>

    <br>



        <div class="form-group">
            <label for="IDInputLabel" id="{% block labelID %}{% endblock %}">
                <input type="number" class="form-text" id="{% block inputID %}{% endblock %}" aria-describedby="Insert_ID_Here"
                       min="0" value="{% block messageInputValue %}{% endblock %}">
                <input type="submit" class="btn btn-primary" id="{% block submitButtonID %}{% endblock %}" value="send">
            </label>
            <small id="IDHelp" class="form-text text-muted">{% block helpContent %}{% endblock %}</small>
        </div>




    <table class="table table-sm responsive" id="resulttable">
      <thead>
        <tr>

                {% block tableHead %}
                {% endblock %}

        </tr>
      </thead>

    <tbody>



   </tbody>


    </table>

    {% block script %}
    {% endblock %}

{% endblock %}